#posts {
  margin-top: 40px;
}

.post {
  background-color: white;
  border-radius: 16px;
  border: 4px solid #000000 !important;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  max-height: 200px;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
}

.post h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 100;
}

.post h2 {
  font-size: large;
}

.post p {
 font-size: 30px; 
}

.post button {
  height: 20px;
  width: 100px;
}

#vistaPost {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 70%;
}

#vistaPost h1 {
  font-size: 50px;
  font-style: normal;
  font-weight: 100;
}

#vistaPost h2 {
  font-size: small;
}

#vistaPost p {
  margin-top: 10px;
  font-size: 20px;
}

.sdkjnfjkfnds {
  background-color: #000000;
  height: 1px;
  width: 100%;
}