#posts {
  margin-top: 40px;
}

.post {
  background-color: white;
  border-radius: 16px;
  border: 4px solid #000000 !important;
  align-content: inherit;
  text-align: left;
  padding-left: 5px;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.post-titulo {
  font-size: 50px;
}

.post-fecha {
  display: block;
  border-style: solid;
  border-color: #f44336 !important;
  border-bottom: 1px solid #000000 !important;
  border-left-width: 0px;
  border-right-width :0px;
  border-top-width :0px;
}

.post-contenido {
 font-size: 30px; 
}