.sociales {
  scale: 2;
  margin-top: 200px;
  justify-content: center;
  display: grid;
  gap: 40px;
  place-items: middle;
  grid-template-columns: repeat(auto-fit, 90px);
}

.social {
  width: 40px;
  text-anchor: middle;
}

.textolol {
  text-align: center;
  justify-content: center;
  display: grid;
  align-items: center;
}

.textolol input {
  margin-top: 100px;
  width: 1000px;
  height: 300px;
}

.textolol button {
  margin-top: 10px;
  width: 300px;
  height: 100px;
  font-size: 70px;
  text-align: center;
}