#productos {
  margin-right: 10px;
  margin-left: 10px;
  display: grid;
  gap: 30px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); 
}

.producto-carta {
  border-radius: 16px;
  border: 4px solid #000000 !important;
  width: 380px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
  background-color: var(--color-menu);
}

.producto-carta img {
  width: 100%
}

.producto-carta img {
  object-fit: fill;
}

.producto-carta p {
  font-size: 30px;
  font-weight: 30px;
}