#productos {
  margin-right: 10px;
  margin-left: 10px;
  display: grid;
  gap: 30px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); 
}

.producto-carta {
  border-radius: 16px;
  border: 4px solid #000000 !important;
  width: 380px;
  height: 250px;
  margin: 20px;
  overflow: hidden;
  background-color: var(--color-menu);
}

.producto-carta img {
  width: 100%
}

.producto-carta img {
  object-fit: fill;
}

.producto-carta p {
  font-size: 30px;
  font-weight: 30px;
}

#vistaProducto .container {
  align-items: stretch;
  display: grid;
  grid-template-columns: auto 1fr;
}

#vistaProducto .container img {
  text-align: left;
  width: 50%;
  display: block;
}

#vistaProducto .container .col2 {
  width: 50%;
  text-align: right;
}

#vistaProducto .container .col2 .info {
  margin-top: 60px;
}