#menu {
  --fuente-1: #FFF7F9;
  --fuente-2: #000000;
  --color-bg: #F6C1D1;
  --color-menu: #e672ba;

  position: fixed;
  z-index: 1;
  width: 200px;
  height: 100svh;
  background-color: var(--color-menu);
  display: block;
  color: var(--fuente-1);
  font-weight: 700;
  font-size: large;
}

#menu a {
  display: block;
  padding-top: 30px;
  color: var(--fuente-1);
  font-family: "Coiny", system-ui;
  font-weight: 700;
  font-size: large;
}

#menu.no {
  visibility: hidden;
}

#links {
  padding-left: 20px;
  padding-top: 100px;
}