* {
  margin: 0;
  padding: 0;
}

:root {
  --fuente-1: #FFF7F9;
  --fuente-2: #000000;
  --color-bg: #F6C1D1;
  --color-menu: #e672ba;
  height: 100%;
  background: linear-gradient(0deg,rgba(255, 207, 242, 1) 0%, rgba(255, 255, 255, 1) 100%);
  /* background-color: var(--color-bg) */
  /* background: url(/src/assets/fondo%20idk.png);
  background-repeat: no-repeat;
  background-size: cover;
  */
}

.boton {
  position: fixed;
  z-index: 4;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  filter: blur()
}

#main {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  align-content: middle;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  color:var(--fuente-2);
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* background: url(/src/assets/fondo%20idk.png);
  background-repeat: no-repeat;
  background-size: cover;
  */
}

#main.h1 {
  margin-bottom: 30px;
}

.main-links {
  scale: 1.1;
}
.hometitulo {
  align-self: center;
  width: 80%;
  height: 400px;
  margin: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
}

.hometitulo .container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.hometitulo .row-1 {
  display: grid;
  place-items: stretch;
  overflow: hidden;
}

.hometitulo .row-1 .fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: 1 / 1;
}

.hometitulo .row-1 .logo {
  width: 72px;
  height: 72px;
  grid-area: 1 / 1;
  z-index: 1;
  align-self: start;
  justify-self: center;
  transform: translateY(50%);
}

.hometitulo .row-2 {
  padding: 16px;
  text-align: center;
}

.hometitulo .row-1,
.hometitulo .row-2 {
  min-height: 0;
}

.homeinfo {
  align-self: center;
  width: 80%;
  height: 400px;
  margin: auto;
  background: white;
  overflow: hidden;
}

.homeinfo .container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
}

.homeinfo .container .col-1 {
  place-items: stretch;
  overflow: hidden;
  width: 40%;
}

.homeinfo .container .col-1 .imagen {
  width: 100%;
  height: 100%;
  object-fit: fill;
  grid-area: 1 / 1;
}

.homeinfo .container .col-2 {
  padding: 16px;
  width: max-content;
}

.homeinfo .container .col-2 h1 {
  font-size: 30px;
  text-align: left;
}

.homeinfo .container .col-2 button {
  height: 100px;
  width: 100%;
}