* {
  margin: 0;
  padding: 0;
}

:root {
  --fuente-1: #FFF7F9;
  --fuente-2: #000000;
  --color-bg: #F6C1D1;
  --color-menu: #e672ba;
  /* background-color: var(--color-bg) */
}

.boton {
  position: fixed;
  z-index: 4;
}

#bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: var(--color-bg);
}

#main {
  padding-top: 20px;
  align-content: middle;
  text-align: center;
  font-weight: 700;
  font-size: xx-large;
  color:var(--fuente-2);
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: url(/src/assets/fondo%20idk.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#main.h1 {
  margin-bottom: 30px;
}

.main-links {
  scale: 1.1;
}